
.SearchData{
    position: absolute;
    top: 3.6rem;
    left: 36%;
    background-color: #fff;
    width: 29%;
    margin: auto;
    max-height: 300px;
    overflow: hidden;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 0 0px 8px 3px rgb(221, 221, 221);
}
.search__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 50px;
    box-shadow: 0 0 8px 3px rgb(229, 229, 229);
    position: fixed;
    width: 100vw;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 10;
}

.searchBox{
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 5px;
    width: 30%;
    display: flex;
    align-items: center;
}
.searchBox > input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}
.searchBox button{
    background-color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    padding-right: 10px;
    cursor: pointer;
}

.singleSearchProductData{
    margin-bottom: .2rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    
}
.singleSearchProductData > img{
    border-radius: 5px;
    object-fit: cover;
}
.singleSearchProductData:hover{
    background-color: #f3f2f2;
    cursor: pointer;
} 